<a href="https://colab.research.google.com/github/Damneetsingh01/Week_3_Data-Cleaning-With-Panda-And-Numpy/blob/main/Project_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Importing Numpy and Panda In Google Colab

In [53]:
import pandas as pd
import numpy as np

* Load Data in Google Colab

In [54]:
data=pd.read_csv('/content/Data-cleaning-for-beginners-using-pandas.csv')

* Raw Data

In [55]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

 * Copy the Data To preserve the original Data

In [56]:
data2 = data.copy()

* Converting the columns name to lower case and removing the spaces

In [57]:
data2.columns = data2.columns.str.lower().str.replace(" ","_")

* First 5 columns of Raw Data

In [58]:
data2.head()

   index   age     salary  rating       location  established easy_apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

* Last 5 columns of raw Data

In [59]:
data2.tail()

    index   age     salary  rating       location  established easy_apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

* Getting The Shape

In [60]:
data2.shape

(29, 7)

* Getting The Info About the Data

In [61]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          22 non-null     float64
 2   salary       29 non-null     object
 3   rating       28 non-null     float64
 4   location     29 non-null     object
 5   established  29 non-null     int64
 6   easy_apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

* Finding The null Values and Sum of them

In [62]:
data2.isnull().sum()

index          0
age            7
salary         0
rating         1
location       0
established    0
easy_apply     0
dtype: int64

* Find The Average Age

In [63]:
avg_age = data2['age'].mean()
avg_age

39.04545454545455

* Replacing The Null Values in Age column with Average Age

In [64]:
data2['age']=data2.age.fillna(avg_age).round().astype(int)
data2

    index  age      salary  rating       location  established easy_apply
0       0   44   $44k-$99k     5.4       India,In         1999       TRUE
1       1   66   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   39   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3   64   $44k-$99k     4.4       India In         1988         -1
4       4   25   $44k-$99k     6.4  Australia Aus         2002         -1
5       5   44   $77k-$89k     1.4       India,In         1999       TRUE
6       6   21   $44k-$99k     0.0    New York,Ny           -1         -1
7       7   44   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8   35   $44k-$99k     5.4    New York,Ny           -1         -1
9       9   22   $44k-$99k     7.7       India,In           -1       TRUE
10     10   55   $10k-$49k     5.4       India,In         2008       TRUE
11     11   44   $10k-$49k     6.7       India,In         2009         -1
12     12   39   $44k-$99k     0.0       India,In         1999         -1
13     13   25   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14   66   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15   44  $88k-$101k     3.0  Australia Aus         1999         -1
16     16   19   $19k-$40k     4.5       India,In         1984         -1
17     17   39   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18   35   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19   32   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   39   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21   35   $44k-$99k     5.0    New York,Ny         1946         -1
22     22   19   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   39   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24   13   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25   55   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   39   $55k-$66k     NaN       India,In         1934       TRUE
27     27   52   $44k-$99k     5.4       India,In         1935         -1
28     28   39   $39k-$88k     3.4  Australia Aus         1932         -1

* Recheck The Data Info

In [65]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   salary       29 non-null     object
 3   rating       28 non-null     float64
 4   location     29 non-null     object
 5   established  29 non-null     int64
 6   easy_apply   29 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

* Correcting The Salary description

In [66]:
data2['salary']=data2['salary'].str.replace("$"," ").str.replace("k","000")
data2

<ipython-input-66-17aeddcdb33a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data2['salary']=data2['salary'].str.replace("$"," ").str.replace("k","000")

    index  age          salary  rating       location  established easy_apply
0       0   44    44000- 99000     5.4       India,In         1999       TRUE
1       1   66    55000- 66000     3.5    New York,Ny         2002       TRUE
2       2   39    77000- 89000    -1.0    New York,Ny           -1         -1
3       3   64    44000- 99000     4.4       India In         1988         -1
4       4   25    44000- 99000     6.4  Australia Aus         2002         -1
5       5   44    77000- 89000     1.4       India,In         1999       TRUE
6       6   21    44000- 99000     0.0    New York,Ny           -1         -1
7       7   44    44000- 99000    -1.0  Australia Aus           -1         -1
8       8   35    44000- 99000     5.4    New York,Ny           -1         -1
9       9   22    44000- 99000     7.7       India,In           -1       TRUE
10     10   55    10000- 49000     5.4       India,In         2008       TRUE
11     11   44    10000- 49000     6.7       India,In         2009         -1
12     12   39    44000- 99000     0.0       India,In         1999         -1
13     13   25    44000- 99000    -1.0  Australia Aus         2019       TRUE
14     14   66    44000- 99000     4.0  Australia Aus         2020       TRUE
15     15   44   88000- 101000     3.0  Australia Aus         1999         -1
16     16   19    19000- 40000     4.5       India,In         1984         -1
17     17   39    44000- 99000     5.3    New York,Ny         1943       TRUE
18     18   35    44000- 99000     6.7    New York,Ny         1954       TRUE
19     19   32    44000- 99000     3.3    New York,Ny         1955       TRUE
20     20   39    44000- 99000     5.7    New York,Ny         1944       TRUE
21     21   35    44000- 99000     5.0    New York,Ny         1946         -1
22     22   19    55000- 66000     7.8    New York,Ny         1988       TRUE
23     23   39    44000- 99000     2.4    New York,Ny         1999       TRUE
24     24   13    44000- 99000    -1.0    New York,Ny         1987         -1
25     25   55    44000- 99000     0.0  Australia Aus         1980       TRUE
26     26   39    55000- 66000     NaN       India,In         1934       TRUE
27     27   52    44000- 99000     5.4       India,In         1935         -1
28     28   39    39000- 88000     3.4  Australia Aus         1932         -1

* Splitting The Salary Into Max Salary And Min Salary

In [67]:
data2[['max salary','min salary']] = data2['salary'].str.split('-',expand = True)

# Coverting The Max and Min Salary into interger Type
data2['max salary'] = data2['max salary'].astype(int)
data2['min salary'] = data2['min salary'].astype(int)

# Dropping The salary column
data2 = data2.drop(columns=['salary'])

data2

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,-1.0,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000
5,5,44,1.4,"India,In",1999,TRUE,77000,89000
6,6,21,0.0,"New York,Ny",-1,-1,44000,99000
7,7,44,-1.0,Australia Aus,-1,-1,44000,99000
8,8,35,5.4,"New York,Ny",-1,-1,44000,99000
9,9,22,7.7,"India,In",-1,TRUE,44000,99000
10,10,55,5.4,"India,In",2008,TRUE,10000,49000
11,11,44,6.7,"India,In",2009,-1,10000,49000
12,12,39,0.0,"India,In",1999,-1,44000,99000
13,13,25,-1.0,Australia Aus,2019,TRUE,44000,99000
14,14,66,4.0,Australia Aus,2020,TRUE,44000,99000
15,15,44,3.0,Australia Aus,1999,-1,88000,101000
16,16,19,4.5,"India,In",1984,-1,19000,40000
17,17,39,5.3,"New York,Ny",1943,TRUE,44000,99000
18,18,35,6.7,"New York,Ny",1954,TRUE,44000,99000
19,19,32,3.3,"New York,Ny",1955,TRUE,44000,99000
20,20,39,5.7,"New York,Ny",1944,TRUE,44000,99000
21,21,35,5.0,"New York,Ny",1946,-1,44000,99000
22,22,19,7.8,"New York,Ny",1988,TRUE,55000,66000
23,23,39,2.4,"New York,Ny",1999,TRUE,44000,99000
24,24,13,-1.0,"New York,Ny",1987,-1,44000,99000
25,25,55,0.0,Australia Aus,1980,TRUE,44000,99000
26,26,39,NaN,"India,In",1934,TRUE,55000,66000
27,27,52,5.4,"India,In",1935,-1,44000,99000
28,28,39,3.4,Australia Aus,1932,-1,39000,88000

* Info Of data

In [68]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     object
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     object
 6   max salary   29 non-null     int64
 7   min salary   29 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.9+ KB

* Count of -1.0 present in rating column

In [69]:
count_of_minus_one = (data2['rating']== -1.0).sum()
count_of_minus_one

4

* Replacing Them

In [70]:
data2['rating'] = data2['rating'].replace(-1.0,0.0)
data2.head()

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,0.0,"New York,Ny",-1,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

* Count oF -1.0 present in established column

In [71]:
count_of_minus_one_established = (data2['established'] == -1.0).sum()
count_of_minus_one_established

5

* Find The most Occuring Value in established

In [72]:
mode_established = data2['established'].mode().iloc[1]
mode_established

1999

* Replace the -1.0 with most occuring value

In [73]:
data2['established'] = data2['established'].replace(-1.0,mode_established)
data2.head()

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,"India,In",1999,TRUE,44000,99000
1,1,66,3.5,"New York,Ny",2002,TRUE,55000,66000
2,2,39,0.0,"New York,Ny",1999,-1,77000,89000
3,3,64,4.4,India In,1988,-1,44000,99000
4,4,25,6.4,Australia Aus,2002,-1,44000,99000

* Formatting String in 'location' column

In [74]:
data2['location'] = data2['location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})
data2.head()

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,India,1999,TRUE,44000,99000
1,1,66,3.5,New York,2002,TRUE,55000,66000
2,2,39,0.0,New York,1999,-1,77000,89000
3,3,64,4.4,India,1988,-1,44000,99000
4,4,25,6.4,Australia,2002,-1,44000,99000

* Converting datatype of 'location' column from object to string

In [75]:
data2['location'] = data2['location'].astype('string')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     object
 6   max salary   29 non-null     int64
 7   min salary   29 non-null     int64
dtypes: float64(1), int64(5), object(1), string(1)
memory usage: 1.9+ KB

* Finding the unique values in 'easy_apply' column

In [76]:
unique_values_count = data2['easy_apply'].unique()
unique_values_count

array(['TRUE', '-1'], dtype=object)

* Replace Them With appropriate results

In [77]:
data2['easy_apply'] = data2['easy_apply'].replace('TRUE', True)

data2['easy_apply'] = data2['easy_apply'].replace('-1', False)

data2['easy_apply'] = data2['easy_apply'].astype(bool)

data2.info()

data2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       28 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     bool
 6   max salary   29 non-null     int64
 7   min salary   29 non-null     int64
dtypes: bool(1), float64(1), int64(5), string(1)
memory usage: 1.7 KB

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000

* Replacing The Null Value in rating

In [78]:
data2['rating'].isnull().sum()

# Get The Average of The Ratings
mean_rating=data2['rating'].mean()
mean_rating

#Replacing the values
data2['rating'] = data2.rating.fillna(mean_rating).round(decimals=1)
data2.head()

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000

* Checking for null values in the dataset

In [79]:
data2.isnull().sum()

index          0
age            0
rating         0
location       0
established    0
easy_apply     0
max salary     0
min salary     0
dtype: int64

* Checking the dataset info

In [80]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        29 non-null     int64
 1   age          29 non-null     int64
 2   rating       29 non-null     float64
 3   location     29 non-null     string
 4   established  29 non-null     int64
 5   easy_apply   29 non-null     bool
 6   max salary   29 non-null     int64
 7   min salary   29 non-null     int64
dtypes: bool(1), float64(1), int64(5), string(1)
memory usage: 1.7 KB

* Cleaned Data

In [81]:
data2

,index,age,rating,location,established,easy_apply,max salary,min salary
0,0,44,5.4,India,1999,True,44000,99000
1,1,66,3.5,New York,2002,True,55000,66000
2,2,39,0.0,New York,1999,False,77000,89000
3,3,64,4.4,India,1988,False,44000,99000
4,4,25,6.4,Australia,2002,False,44000,99000
5,5,44,1.4,India,1999,True,77000,89000
6,6,21,0.0,New York,1999,False,44000,99000
7,7,44,0.0,Australia,1999,False,44000,99000
8,8,35,5.4,New York,1999,False,44000,99000
9,9,22,7.7,India,1999,True,44000,99000
10,10,55,5.4,India,2008,True,10000,49000
11,11,44,6.7,India,2009,False,10000,49000
12,12,39,0.0,India,1999,False,44000,99000
13,13,25,0.0,Australia,2019,True,44000,99000
14,14,66,4.0,Australia,2020,True,44000,99000
15,15,44,3.0,Australia,1999,False,88000,101000
16,16,19,4.5,India,1984,False,19000,40000
17,17,39,5.3,New York,1943,True,44000,99000
18,18,35,6.7,New York,1954,True,44000,99000
19,19,32,3.3,New York,1955,True,44000,99000
20,20,39,5.7,New York,1944,True,44000,99000
21,21,35,5.0,New York,1946,False,44000,99000
22,22,19,7.8,New York,1988,True,55000,66000
23,23,39,2.4,New York,1999,True,44000,99000
24,24,13,0.0,New York,1987,False,44000,99000
25,25,55,0.0,Australia,1980,True,44000,99000
26,26,39,3.7,India,1934,True,55000,66000
27,27,52,5.4,India,1935,False,44000,99000
28,28,39,3.4,Australia,1932,False,39000,88000